<div class="d-flex p-5 flex-column align-items-center">
  <h2 class="text-center mb-4">
    Chat Interface
  </h2>

  <div class="w-50 text-center mb-2 bg-light">
  <%= params[:question] %>
  <p>- You</p>
  </div>

  <div class="w-50 text-center mb-2 bg-light">
    <%= @answer %>
    <p>- Your Coach</p>
  </div>
</div>
