<div class="d-flex pt-5 justify-content-center">
    <h2>
      Input your question
    </h2>
</div>

<div class="d-flex p-3 justify-content-center">
  <form action="/answer" method= "get" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="ask">
  </form>
</div>
